* {
    box-sizing: border-box;
}


header {
    overflow: hidden;
    background-color: #889cd376;

    padding: 10px;
    margin-top: 0;
    

    ul,
    img,
    li {
        display: inline-block;
        margin: 0 20px;
        vertical-align: middle; /* Align the items vertically */
    }

    #outer {
        margin-top:10px; /*no he encontrado otra solucion para centrarlo en vertical sin usar flexbox*/
        float: right;
    }

    a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
    }
    a.choosen {
        background-color: rgba(15, 57, 244, 0.608);
        color: white;
      }

    li {

        text-align: center;
        font-size: larger;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }
}

.image {
    border-radius: 50px;
    display: inline-block;
    margin: 0 10px;
}

body {
    margin: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}



.title {
    margin-top: 10px;
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}


/*main{
    display: flex;
    flex-direction: column;   
}*/
#form_and_principios{
    display: flex;
    padding: 0 5%;

    min-height: calc(100vh - 40vh);
    width: 100%;
    justify-content: center;
}

form{
    display: flex;
    flex: 0.5;
    align-items: flex-start;
    margin:2%;
    flex-direction:column;
    border: 2px solid rgb(116, 151, 255);
    padding: 1%
    
}
/*input[type="text"]{
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 2% 0;
    box-sizing:content-box;

    
    //max-width: 100%;
    //min-width: 300px; mierdon de solucion    
    
}*/

input[type="text"], textarea{
    margin-bottom: 7px;
}

label {
    font-weight:550;
}

.asterisco{
    color: rgb(255, 0, 0);
}

#radio{
    font-size: 80%;
}
/*#otro{
    //width: 100%;

    //min-width: 300px;
    height: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
   
}*/

#enviar{
    display: flex;
    width: 100%;
    justify-content: center;
}

#principios{
    padding:0% 10%;
    display: flex;
    flex-direction: column;
    flex: 0.5;
    text-align: justify;
}

textarea{
    height: 100px;
}



footer {
    background-color: rgb(116, 151, 255);
    padding-left: 10px;
    padding-bottom: 0px;
    
    display: flex;
    /* Use flexbox */
    align-items: center;
    margin: auto;
    
}

footer>p{
    margin-top:10px;
}

a:hover {
    color: #e5dbdb;
    /* Set background color when hovered */

}

h2 {
    margin-top: 15px;
    color:rgba(91, 91, 255, 0.675)
}