* {
    box-sizing: border-box;
}


header {
    overflow: hidden;
    background-color: #889cd376;

    padding: 10px;
    margin-top: 0;
    
    

    ul,
    img,
    li {
        display: inline-block;
        margin: 0 20px;
        vertical-align: middle; /* Align the items vertically */
    }

    #outer {
        margin-top:10px; /*no he encontrado otra solucion para centrarlo en vertical sin usar flexbox*/
        float: right;
    }

    a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
    }
    a.choosen {
        background-color: rgba(15, 57, 244, 0.608);
        color: white;
      }

    li {

        text-align: center;
        font-size: larger;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }
}

.image {
    border-radius: 50px;
    display: inline-block;
    margin: 0 10px;
}

body {
    margin: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    display: flex;
    min-height: calc(100vh - 40vh);

}

#main>article {
    flex: 5;
    border: 2px solid rgb(116, 151, 255);
    margin: 5px 7px 20px 7px;
}

#main>nav,
#main>aside {
    /*flex: 0 0 20vw;*/
    background: beige;
    border: 2px solid rgb(116, 151, 255);
    margin: 5px 7px 20px 7px;
    /*padding doesnt work out here*/

}

#main>nav {
    flex: 0 0 17vw;
}


#main>aside {
    flex: 2;
}

#main>nav {
    order: -1;
}

aside>img,
article>img {
    display: block;

    margin: auto;
}

aside>p,
article>p {
    padding: 15px;

    font-size: x-large;

}

h2 {
    font-size: x-large;
    text-align: center;
    margin-top: 3%;

}


nav>ul {
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /*evitar descentro punto init lista*/
    list-style-type: none;


}

ul>img {
    border-radius: 50px;
    display: inline-block;
    margin: 0 10px;

    display: block;

    margin: auto;

}

ul>li {
    text-align: center;
}

nav>p {
    font-size: small;
    text-align: center;
}


#main>nav {

    /*to avoid merging with header style*/
    ul>li {
        font-size: medium;
        padding: 5px;
        display: flex;
        justify-content: center;
    }
}




.title {
    margin-top: 10px;
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}




footer {
    background-color: rgb(116, 151, 255);
    padding-left: 10px;
    padding-bottom: 0px;
    
    display: flex;
    /* Use flexbox */
    align-items: center;
    margin: auto;
    
}

footer>p{
    margin-top:10px;
}